<!DOCTYPE html>
@{ 
    ViewBag.Title = "";
    ViewBag.Copyright = "崇仁县公安局";
}

<html style="overflow-y:auto;">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/default/easyui.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/icon.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/demo/demo.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Contents/Site.css")" />

    @RenderSection("stysles", false)
</head>
<body>
    <div style="text-align:center;">
        @Html.Partial("_Header")
    </div>
    <div class="x-body">
        @RenderBody()
    </div>
    <div id="x-footer" style="text-align:center;">
        @Html.Partial($"_Footer")
        <div style="margin-top:10px;">
            <a href="@Url.Action("admin")" target="_blank">[ 后台管理 ]</a>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.min.js?")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>
