@model zh.fang.website.Models.ClsTotalTableHeaderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/baidu/echarts.min.js")"></script>
    <script type="text/javascript">

        function newline(option, number, axis) {
            option[axis]['axisLabel'] = {
                interval: 0,
                formatter: function (params) {
                    var newParamsName = "";
                    var paramsNameNumber = params.length;
                    var provideNumber = number;
                    var rowNumber = Math.ceil(paramsNameNumber / provideNumber);
                    if (paramsNameNumber > provideNumber) {
                        for (var p = 0; p < rowNumber; p++) {
                            var tempStr = "";
                            var start = p * provideNumber;
                            var end = start + provideNumber;
                            if (p == rowNumber - 1) {
                                tempStr = params.substring(start, paramsNameNumber);
                            } else {
                                tempStr = params.substring(start, end) + "\n";
                            }
                            newParamsName += tempStr;
                        }
                    } else {
                        newParamsName = params;
                    }
                    return newParamsName
                }
            }
            return option;
        }

        function drawPieOnToday(id)
        {
            var myChart = echarts.init(document.getElementById(id));
            $.get("@Url.Action("ClsTotalOnToday")", null, function (data) {
                var option = {
                    title: {
                        text: '本日案件分类统计数据'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'horizontal',
                        bottom: 20,
                        left: 20,
                        right:20,
                        data: data.legends
                    },
                    series: [
                        {
                            name: '分类合计',
                            type: 'pie',
                            selectedMode: 'single',
                            center: ['50%', '40%'],
                            radius: [0, '30%'],

                            label: {
                                normal: {
                                    position: 'inner'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: data.itotals
                        },
                        {
                            name: '分类详细',
                            type: 'pie',
                            center: ['50%', '40%'],
                            radius: ['40%', '55%'],

                            data: data.ototals
                        }
                    ]
                };
                myChart.setOption(option);
            });
        }

        function drawCompareBar(id, url)
        {
            var myChart = echarts.init(document.getElementById(id));
            $.get(url, null, function (data) {
                var option = {
                    title: {
                        text: data.title
                    },
                    tooltip: {
                        trigger: 'axis',
                        showDelay: 0,
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['line', 'bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    legend: {
                        data: data.legends
                    },
                    grid: {
                        x: 40,
                        x2: 100,
                        y2: 110,
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.categories,
                            boundaryGap : true,
                            show : true,
                            axisLabel: {
                                interval: 0,
                                rotate: 30,
                                //formatter: function (val) {
                                //    return val.split("").join("\n");
                                //    //return val;
                                //}
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '次数'
                        },
                        {
                            type: 'value',
                            name: '环比'
                        }
                    ],
                    series: [
                        {
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            name: data.item1.name,
                            type: 'bar',
                            data: data.item1.totals
                        },
                        {
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            name: data.item2.name,
                            type: 'bar',
                            data: data.item2.totals
                        },
                        {
                            name: data.lrr.name,
                            type: 'line',
                            yAxisIndex: 1,
                            data: data.lrr.totals
                        }
                    ]
                };
                myChart.setOption(option);
            });
        }

        function drawBarOnWeek(id)
        {
            drawCompareBar(id, "@Url.Action("ClsTotalCompareOnWeek")");
        }

        function drawBarOnMonth(id)
        {
            drawCompareBar(id, "@Url.Action("ClsTotalCompareOnMonth")");
        }

        $(document).ready(function () {

            drawPieOnToday('x-pie-today');
            drawBarOnWeek('x-bar-week');
            drawBarOnMonth('x-bar-month');
            $("div.panel-title").css("font-size", "18px");
            $("div.panel-title").css("font-weight", "700");
        });
    </script>
}
<script type="text/javascript">

        var fmtTotal = function (val, row) {
            return '<div style="background-color:#e7eafa; color:#000000;">' + val + '</div>';
            //return val;
        };

        var fmtSum = function (val, row) {
            return '<div style="background-color:#e7eafa; color:#000000;">' + val + '</div>';
            //return val;
        };

        var fmtRender = function (val, row) {
            var color = "#ffffff";
            var fcolor = "#000000";
            if (!!row.gVal && val < row.gVal) {
                color = "green";
                fcolor = "#ffffff";
            }

            if (!!row.gVal && val >= row.gVal && val < row.yVal) {
                color = "#ffd800";
                fcolor = "#000000";
            }

            if (!!row.yVal && val >= row.yVal && val < row.oVal) {
                color = "darkorange";
                fcolor = "#ffffff";
            }

            if (!!row.oVal && val >= row.oVal) {
                color = "darkred";
                fcolor = "#ffffff";
            }

            return '<div style="background-color:' + color + '; color:' + fcolor+';">' + val + '</div>';
        };
    

</script>
<div id="x-body-chart" class="easyui-layout x-clear-border x-body" style="margin-top:5px; min-height:820px;">
    <div id="x-chart-left" data-options="region:'west'" class="x-clear-border" title="" style="width:620px; ">
        <div id="x-pie-today" style="margin:10px 15px auto 0px; border:1px solid #95B8E7; min-height:800px; "></div>
    </div>
    <div id="x-chart-center" data-options="region:'center'" title="" class="x-clear-border" style="">
        <div id="x-bar-week" style="margin:10px 0px auto 10px; border:1px solid #95B8E7; min-height:400px; "></div>
        <div id="x-bar-month" style="margin:19px 0px auto 10px; border:1px solid #95B8E7; min-height:380px; "></div>
    </div>
</div>

@*<div class="x-clear-border x-clear">
    <div class="x-index-chart-left x-clear-border">
        <div id="x-pie-today" style="margin:10px 15px auto 0px; border:1px solid #95B8E7; min-height:500px; "></div>
    </div>
    <div class="x-index-chart-right x-clear-border">
        <div id="x-bar-week" style="margin:10px 0px auto 10px; border:1px solid #95B8E7; min-height:200px; "></div>
        <div id="x-bar-month" style="margin:19px 0px auto 10px; border:1px solid #95B8E7; min-height:280px; "></div>
    </div>
</div>*@

<div class="easyui-panel" title="" style="width:100%;padding:10px; font-size:18px;">
    @Html.Raw(ViewBag.HomeTitle)
</div>

<div style="margin-top:10px;">
    <table class="easyui-treegrid" title="最近六周警情预警比率" style="width:100%;min-height:150px;"
           data-options="
            url: '@Url.Action("GetData")',
            method: 'get',
            rownumbers: true,
            showFooter: true,
            fitColumns: true,
            idField: 'id',
            treeField: '@Model.company.field'
           ">
        <thead>
            <tr>
                <th data-options="field:'@Model.company.field'" rowspan="2">@Model.company.title</th>
                <th data-options="field:'@Model.total.field',align:'center',width:1,formatter:fmtTotal" rowspan="2">@Html.Raw(string.Join("<br />", Model.total.title.ToArray()))</th>
                @foreach (var item in Model.items)
                {
                    if (0 == item.items.Length)
                    {
                        <th data-options="field:'@item.field',align:'center',width:1,formatter:fmtRender" rowspan="2">@Html.Raw(string.Join("<br />", item.title.ToArray()))</th>
                        continue;
                    }
                    <th colspan="@(item.items.Length + 1)">@Html.Raw(item.title)</th>
                }
            </tr>
            <tr>
                @foreach (var item in Model.items)
                {
                    if (0 < item.items.Count())
                    {
                        <th data-options="field:'@item.field',align:'center',width:1,formatter:fmtSum">@Html.Raw(string.Join("<br />", "小计".ToArray()))</th>
                        foreach (var cell in item.items)
                        {
                            <th data-options="field:'@cell.field',align:'center',width:1,formatter:fmtRender">@Html.Raw(string.Join("<br />", cell.title.ToArray()))</th>
                        }
                    }
                }
            </tr>
        </thead>
    </table>
</div>