@model zh.fang.website.Models.ClsTotalTableHeaderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/baidu/echarts.min.js")"></script>
    <script type="text/javascript">

        function drawPieOnToday(id)
        {
            var myChart = echarts.init(document.getElementById(id));
            $.get("@Url.Action("ClsTotalOnToday")", null, function (data) {
                var option = {
                    title: {
                        text: '本日案件分类统计数据'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'horizontal',
                        bottom: 20,
                        left: 20,
                        right:20,
                        data: data.legends
                    },
                    series: [
                        {
                            name: '分类合计',
                            type: 'pie',
                            selectedMode: 'single',
                            center: ['50%', '40%'],
                            radius: [0, '30%'],

                            label: {
                                normal: {
                                    position: 'inner'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: data.itotals
                        },
                        {
                            name: '分类详细',
                            type: 'pie',
                            center: ['50%', '40%'],
                            radius: ['40%', '55%'],

                            data: data.ototals
                        }
                    ]
                };
                myChart.setOption(option);
            });
        }

        function drawCompareBar(id, url)
        {
            var myChart = echarts.init(document.getElementById(id));
            $.get(url, null, function (data) {
                var option = {
                    title: {
                        text: data.title
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['line', 'bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    legend: {
                        data: data.legends
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: data.categories
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '次数'
                        },
                        {
                            type: 'value',
                            name: '环比'
                        }
                    ],
                    series: [
                        {
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            name: data.item1.name,
                            type: 'bar',
                            data: data.item1.totals
                        },
                        {
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            name: data.item2.name,
                            type: 'bar',
                            data: data.item2.totals
                        },
                        {
                            name: data.lrr.name,
                            type: 'line',
                            yAxisIndex: 1,
                            data: data.lrr.totals
                        }
                    ]
                };
                myChart.setOption(option);
            });
        }

        function drawBarOnWeek(id)
        {
            drawCompareBar(id, "@Url.Action("ClsTotalCompareOnWeek")");
        }

        function drawBarOnMonth(id)
        {
            drawCompareBar(id, "@Url.Action("ClsTotalCompareOnMonth")");
        }

        $(document).ready(function () {
            drawPieOnToday('x-pie-today');
            drawBarOnWeek('x-bar-week');
            drawBarOnMonth('x-bar-month');
        });
    </script>
}
<script type="text/javascript">

        var fmtTotal = function (val, row) {
            return '<div style="background-color:darkblue; color:white;">' + val + '</div>';
        };

        var fmtSum = function (val, row) {
            return '<div style="background-color:darkgreen; color:white;">' + val + '</div>';
        };
      
</script>
<div class="x-clear-border x-clear">
    <div class="x-index-chart-left x-clear-border">
        <div id="x-pie-today" style="margin:10px 15px auto 0px; border:1px solid #95B8E7; min-height:500px; "></div>
    </div>
    <div class="x-index-chart-right x-clear-border">
        <div id="x-bar-week" style="margin:10px 0px auto 10px; border:1px solid #95B8E7; min-height:200px; "></div>
        <div id="x-bar-month" style="margin:19px 0px auto 10px; border:1px solid #95B8E7; min-height:280px; "></div>
    </div>
</div>

<div style="margin-top:20px;">
    <table class="easyui-treegrid" title="" style="width:100%;min-height:150px;"
           data-options="
            url: '@Url.Action("GetData")',
            method: 'get',
            rownumbers: true,
            showFooter: true,
            fitColumns: true,
            idField: 'id',
            treeField: '@Model.company.field'
           ">
        <thead>
            <tr>
                <th data-options="field:'@Model.company.field'" rowspan="2">@Model.company.title</th>
                <th data-options="field:'@Model.total.field',align:'center',width:1,formatter:fmtTotal" rowspan="2">@Model.total.title</th>
                @foreach (var item in Model.items)
                {
                    if (0 == item.items.Length)
                    {
                        <th data-options="field:'@item.field',align:'center',width:1" rowspan="2">@Html.Raw(item.title)</th>
                        continue;
                    }
                    <th colspan="@(item.items.Length + 1)">@Html.Raw(item.title)</th>
                }
            </tr>
            <tr>
                @foreach (var item in Model.items)
                {
                    if (0 < item.items.Count())
                    {
                        <th data-options="field:'@item.field',align:'center',width:1,formatter:fmtSum">小计</th>
                        foreach (var cell in item.items)
                        {
                            <th data-options="field:'@cell.field',align:'center',width:1">@Html.Raw(cell.title)</th>
                        }
                    }
                }
            </tr>
        </thead>
    </table>
</div>