@model zh.fang.website.Models.ClsTotalTableHeaderModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}
<script type="text/javascript">

    var xtg = function () { return $("#x-tg"); };

    var editCb = function (e, id) {
        xtg().treegrid('beginEdit', id);
        var row = $(e).closest('tr.datagrid-row');
        var container = row.children().last().children().first();

        var html = '<a href="javascript:void(0)" onclick="saveCb(this, \'' + id + '\');return false;" class="easyui-linkbutton" data-options="plain:true">保存</a>\
                    <a href="javascript:void(0)" onclick="cancelCb(this, \'' + id + '\');return false;" class="easyui-linkbutton" data-options="plain:true">取消</a>';
        container.html(html);
    };

    var cancelCb = function (e, id) {
        //$.messager.confirm('取消编辑：', '是否取消 ?', function (r) {
        //    if (!!r) {
        //        xtg().treegrid('cancelEdit', id);
        //    }
        //});
        xtg().treegrid('cancelEdit', id);
    };

    var saveCb = function (e, id) {
        $.messager.confirm('保存数据：', '是否保存 ?', function (r) {
            if (!!r) {
                var row = $(e).closest('tr.datagrid-row');
                xtg().treegrid('endEdit', id);
            }
        });
    };

    var afterEdit = function (row, changes) {
        var data = { id: row.rawId, items: [] };
        for (var item in changes) {
            data.items.push({ id: item, value: parseInt(changes[item]) });
        }

        $.ajax({
            url:'@Url.Action("Upgrade", "Prewarn")',
            method: 'post',
            data: data,
            dataType:'json',
            success: function (data, msg) {
                debugger;
            },
            error: function (jqXHR, msg, err) {
                debugger;
            }
        });
    };

    var fmtOper = function (val, row) {
        return '<a href="javascript:void(0)" onclick="editCb(this, \'' + val +'\');return false;" class="easyui-linkbutton" data-options="plain:true">编辑</a>';
    };

    var titleClick = function () {
        $('#x-form-title').form('submit', {
            url:'@Url.Action("UpgradeTite")',
            success: function (data) {
                debugger;
                data = JSON.parse(data);
                if (!!data.data) {
                    $.messager.alert('提示', '保存成功 !!', 'info');
                }
                else {
                    $.messager.alert('提示', '保存失败 !!', 'info');
                }
            }
        });
    };
</script>
<div style="margin-top:15px; margin-left:1px;">
    <form id="x-form-title" method="post">
        <input id="title" name="title" value="@ViewBag.HomeTitle" multiline="true" class="easyui-textbox" data-options="buttonText:'保存',prompt:'首页表格文本内容在此处输入',onClickButton:titleClick" style="width:100%;height:132px;">
    </form>
</div>
<div style="margin-top:15px;">
    <table id="x-tg" class="easyui-treegrid" title="" style="width:100%;min-height:150px;"
           data-options="
            url: '@Url.Action("GetData")',
            method: 'get',
            rownumbers: true,
            fitColumns: true,
            showFooter: true,
            collapsible: true,
            animate: true,
            idField: 'id',
            treeField: '@Model.company.field',
            onAfterEdit:afterEdit
           ">
        <thead>
            <tr>
                <th data-options="field:'@Model.company.field'" rowspan="2">@Model.company.title</th>
                @foreach (var item in Model.items)
                {
                    if (0 == item.items.Length)
                    {
                        <th data-options="field:'@item.field',align:'center',width:1,editor:'numberbox'" rowspan="2">@Html.Raw(item.title)</th>
                        continue;
                    }
                    <th colspan="@(item.items.Length)">@Html.Raw(item.title)</th>
                }
                <th data-options="field:'@Model.id.field',align:'left',width:2,formatter:fmtOper" rowspan="2"></th>
            </tr>
            <tr>
                @foreach (var item in Model.items)
                {
                    if (0 < item.items.Count())
                    {
                        foreach (var cell in item.items)
                        {
                            <th data-options="field:'@cell.field',align:'center',width:1,editor:'numberbox'">@Html.Raw(cell.title)</th>
                        }
                    }
                }
            </tr>
        </thead>
    </table>
</div>
