
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/default/easyui.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/icon.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/demo/demo.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Contents/Site.css")" />
</head>
<body>
    <div class="x-clear-border" style="text-align:center;margin:120px auto; max-width:400px;">
        <div class="easyui-panel" title="预警信息管理系统后台登录" style="width:400px;padding:30px 70px 20px 70px">
            <form id="x-form" method="post" action="@Url.Action("Signin")">
                <div style="margin-bottom:10px">
                    <input id="userid" name="userid" class="easyui-textbox" style="width:100%;height:40px;padding:12px" data-options="prompt:'请输入账户名称 ...',iconCls:'icon-man',iconWidth:38,required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input id="passwd" name="passwd" class="easyui-textbox" type="password" style="width:100%;height:40px;padding:12px" data-options="prompt:'请输入密码 ...',iconCls:'icon-lock',iconWidth:38,required:true">
                </div>
                <div>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="formSubmit();return false;" style="padding:5px 0px;width:100%;">
                        <span style="font-size:14px;">登&nbsp;&nbsp;&nbsp;&nbsp;录</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.min.js?")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>
    <script type="text/javascript">
        var formSubmit = function () {
            $('#x-form').form('submit', {
                success: function (data) {
                    data = JSON.parse(data);
                    if (!!data.data) {
                        location.href = data.url;
                    }
                    else {
                        $.messager.alert('提示', '用户名或者密码错误 !!', 'info');
                    }
                }
            });
        };
    </script>
</body>
</html>
