
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/default/easyui.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/themes/icon.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/easyui/demo/demo.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Contents/Site.css")" />
</head>
<body>
    <div class="x-clear-border" style="text-align:center;margin:120px auto; max-width:400px;">
        <div class="easyui-panel x-clear-border">
            <form id="form-login" method="post" action="@Url.Action("Signin")">
                <table class="x-clear-border">
                    <tr>
                        <td>账户：</td>
                        <td><input type="text" class="easyui-textbox" id="userid" name="userid" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" class="easyui-textbox" id="passwd" name="passwd" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" class="easyui-linkbutton" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" style="min-height:26px; min-width:80px;" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.min.js?")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>
</body>
</html>
